<h2>Completed Tasks</h2>

<div class="task-list">
    {{#if tasks}}
        <ul>
            {{#each tasks}}
                <li><a href="task/{{this._id}}">{{this.text}}</a></li>
            {{/each}}
        </ul>
    {{else}}
        <p>No tasks have been completed.</p>
    {{/if}}
</div>

{{#if tasks}}
    <div class="delete-completed-tasks">
        <form class="delete-completed-form" action="/deleteDone" method="POST">
            <input class="delete-completed-button" type="submit" value="Delete completed tasks">
        </form>
    </div>
{{/if}}
