<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
    <div class="navigation">
        <a href="/">To Do Tasks</a> <a href="/completed">Completed Tasks</a>
    </div>

  </body>
</html>

